<!-- CMT -->
<div id="cmt_section" class="row">
    <div class="col-md-12 cmt_title">
        <h5><i class="fas fa-comment"></i> Comment gần đây</h5>
    </div>
    <div class="col-md-12">
        <ul class="cmt_list">
            <!--CMT-->
            <li class="cmt_item bg-dark">
                <div class="cmt_info">
                    <a href="" class="cmt_name">Dzao' Tru?</a> 
                    <span class="badge badge-info cmt_time">1 minute ago</span>
                    <p>Em vu' to qua'. Minh` lam` quen nha </p> 
                </div>
            </li>
            <li class="cmt_item bg-dark">
                <div class="cmt_info">
                    <a href="" class="cmt_name">Dzao' Tru?</a> 
                    <span class="badge badge-info cmt_time">1 minute ago</span>
                    <p>Em vu' to qua'. Minh` lam` quen nha </p> 
                </div>
            </li>
            <li class="cmt_item bg-dark">
                <div class="cmt_info">
                    <a href="" class="cmt_name">Dzao' Tru?</a> 
                    <span class="badge badge-info cmt_time">1 minute ago</span>
                    <p>Em vu' to qua'. Minh` lam` quen nha </p> 
                </div>
            </li>

        </ul>
    </div>
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
    </div>
</div>
<!-- END OF COMMENT -->