<!--COMMENT-->
<div class="row comment">
    <div class="col-md-12 cmt_title">
        <h5><i class="fas fa-comment"></i> COMMENT GẦN ĐÂY</h5>
    </div>
    <ul class="cmt_list">
        <!--CMT-->
        <li class="cmt_item bg-dark">
            <a href="#">
                <img src="img/temp.jpg">
            </a>
            <div class="cmt_info">
                <a href="" class="cmt_name">Dzao' Tru?</a> 
                <span class="badge badge-info cmt_time">1 minute ago</span>
                <p>Em vu' to qua'. Minh` lam` quen nha </p> 
                <a href="" class="cmt_article"><i class="fas fa-reply"></i><i> Em đẹp lắm</i></a>
            </div>
        </li>
        
        <li class="cmt_item bg-dark">
            <a href="#">
                <img src="img/temp.jpg">
            </a>
            <div class="cmt_info">
                <a href="" class="cmt_name">Dzao' Tru?</a> 
                <span class="badge badge-info cmt_time">1 minute ago</span>
                <p>Em vu' to qua'. Minh` lam` quen nha </p> 
                <a href="" class="cmt_article"><i class="fas fa-reply"></i><i> Em đẹp lắm</i></a>
            </div>
        </li>
    </ul>
</div>
<!-- END OF COMMENT -->