<!-- Footer -->
<footer class="page-footer font-small bg-dark">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">TAIHEN:
      <a href=""> Trang chủ</a> || <a href=""> Liên hệ quảng cáo</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->